ul.task-list {
  list-style: none;
}

ul.task-list li {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

.md-grid {
  max-width: 1000px;
}

.md-typeset table:not([class]) {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}